.DS_Store
*.komodoproject
*.sublime-project
*.sublime-workspace
.idea
node_modules
jspm_packages
npm-debug.*
link-checker-results.txt
app/**/*.js
*.js.map
_test-output
_temp
lib
src/**/*.js

## ngc compiler files
*.ngfactory.ts
*.ngsummary.json
*.metadata.json
*.map.js
*.js  # or /src/**/*.js
/lib
.rpt2_cache
.org.chromium.*
